<ion-view title="Dados Não Sincronizados">
    <ion-header-bar class="bar-positive" align-title="center">
    </ion-header-bar>
    <ion-content>
        <div>
            <ion-list type="list-inset">
                <div class="item-divider">
                    Refeições Novas
                </div>
                <div ng-repeat="refeicao in listaRefeicoesNovas | orderBy: 'refeicao.Tipo'">
                    <ion-item class="item-stable" ng-click="abrirRefeicao(refeicao)"
                              ng-class="{active: isAberto(refeicao)}">
                        <i class="icon" ng-class="isAberto(refeicao) ? 'ion-minus':'ion-plus'"></i>
                        {{tiposRefeicao[refeicao.Tipo-1].Descricao}}
                        <button class="button button-small button-icon icon ion-trash-a" style="float: right"
                                ng-click="removerRefeicaoNovaOffline(refeicao)"></button>
                        <button class="button button-small button-icon icon ion-edit" style="float: right"
                                ng-click="editarRefeicaoOffline(refeicao)"></button>

                    </ion-item>
                    <ion-item class="item-accordation item-text-wrap" ng-repeat="linha in refeicao.listaAlimentos"
                              ng-show="isAberto(refeicao)">
                        {{linha.Nome +' - '+linha.Quantidade + ' ' + findUnidade(linha)}}
                    </ion-item>
                </div>
                <div class="item-divider">
                    Refeições Editadas
                </div>
                <div ng-repeat="refeicao in listaRefeicoesEditadas | orderBy: 'refeicao.Tipo'">
                    <ion-item class="item-stable" ng-click="abrirRefeicao(refeicao)"
                              ng-class="{active: isAberto(refeicao)}">
                        <i class="icon" ng-class="isAberto(refeicao) ? 'ion-minus':'ion-plus'"></i>
                        {{tiposRefeicao[refeicao.Tipo-1].Descricao}}
                        <button class="button button-small button-icon icon ion-trash-a" style="float: right"
                                ng-click="removerRefeicaoEditadaOffline(refeicao)"></button>
                        <button class="button button-small button-icon icon ion-edit" style="float: right"
                                ng-click="editarRefeicaoOffline(refeicao)"></button>

                    </ion-item>
                    <ion-item class="item-accordation item-text-wrap" ng-repeat="linha in refeicao.listaAlimentos"
                              ng-show="isAberto(refeicao)">
                        {{linha.Nome +' - '+linha.Quantidade + ' ' + linha.Unidade}}
                    </ion-item>
                </div>
            </ion-list>
        </div>
    </ion-content>
</ion-view>