<div class="modal" ng-controller="loginCtrl">
    <ion-header-bar class="bar-positive" align-title="center">
        Login
    </ion-header-bar>
    <ion-content>
        <form class="list">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username: </span>
                    <input type="text" ng-model="user.Username" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Password: </span>
                    <input type="password" ng-model="user.Password" required>
                </label>
                <ion-checkbox ng-model="user.save" ng-checked="user.save"><span
                        class="input-label">Guardar Credenciais</span></ion-checkbox>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" ng-click="login(user)">Entrar</button>
            </div>
        </form>
    </ion-content>
</div>