<div class="modal">
    <header class="bar bar-header bar-positive">
        <h1 class="title">{{notificacao.Assunto}}</h1>

        <div class="button button-clear" ng-click="hideModal()">
            <span class="icon ion-close"></span>
        </div>
    </header>
    <content has-header="true" padding="true">
        <br><br><br>

        <div>
            <label><strong>Data:</strong></label>

            <p>{{notificacao.Data | filter:datetime}}</p>
        </div>
        <div>
            <label><strong>Descrição:</strong></label>

            <p>{{notificacao.Descricao}}</p>
        </div>

    </content>
</div>
