<div class="modal" ng-controller="mudarPasswordCtrl">
    <ion-header-bar class="bar-positive" align-title="center">
        <h1 class="title">Mudar Password</h1>
        <div class="button button-clear" ng-click="hideModal()">
            <span class="icon ion-close"></span>
        </div>
    </ion-header-bar>
    <ion-content>
        <form class="list">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Password Antiga: </span>
                    <input type="password" ng-model="pass.antiga" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Password Nova: </span>
                    <input type="password" ng-model="pass.nova" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Confirmar Password Nova: </span>
                    <input type="password" ng-model="pass.PasswordConfirma" required>
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" ng-click="mudarPassword(pass)">Mudar Password
                </button>
            </div>
        </form>
    </ion-content>
</div>