<ion-view title="Tabela Equivalências" ng-controller="tabEquiCtrl">


    <ion-content padding="true" scroll="true">
        <div class="buttons">
            <button class="button icon ion-plus" ng-click="zoomIn()"></button>
            <button class="button icon ion-minus" ng-click="zoomOut()"></button>
        </div>


        <div id="container" style="z-index:-1;position:fixed;display:inline-block;top:0px;right:0;bottom:0px;left:0;"
             ng-style="{'width':larguraCont+'%'}">

            <div id="content"
                 style="position:fixed;display:inline;right:0;left:0;top:0;bottom:0px;-webkit-transform-origin: 0 0;margin-top:0px;">
                <img ng-src="img/equivalencias.png" ng-style="{'width':largura+'%'}" zoomable id="image-scrollable">
            </div>
        </div>

    </ion-content>

</ion-view>
